<div class="py-5 text-center container">
  <form [formGroup]="formModel" [style.fontSize.px]="16" (ngSubmit)="onSubmit()">

    <h1>New Project</h1>
    <div>
      <mat-form-field appearance="fill" >
        <mat-label>Name</mat-label>
        <input formControlName="Name" matInput placeholder="Name" required>
        <mat-error *ngIf="formModel.controls['Name'].invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
      </div>

    <button type="submit" [disabled]="!formModel.controls['Name'].valid" mat-raised-button color="primary">Create</button>

  </form>
</div>
