<div class="container">

  <div class="text-center pt-5">
    <h2 *ngIf="!project">No project available</h2>
    <h2 *ngIf="tasks?.length===0">No tasks available</h2>
    <button mat-raised-button (click)="addTask()">
      Add task
    </button>
    <button mat-raised-button (click)="showProjectUsers()">
      Project Users
    </button>
    <button mat-raised-button (click)="showUserTasksOnProject()">
      My Tasks
    </button>
  </div>

  <div>
    <div *ngIf="!(tasks?.length===0)" class="container pt-5">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="startDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> StartDate </th>
            <td mat-cell *matCellDef="let row"> {{row.startDate | date:'fullDate'}} </td>
          </ng-container>

          <!-- End Date Column -->
          <ng-container matColumnDef="endDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> EndDate </th>
            <td mat-cell *matCellDef="let row"> {{row.endDate | date:'fullDate'}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="progress">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Progress </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}} </td>
          </ng-container>

          <!-- Name+Surname Column -->
          <ng-container matColumnDef="fullName">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Assigned to </th>
            <td mat-cell *matCellDef="let row"> {{row.user != undefined ? row.user.email : ''}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedData ? 'expanded' : 'collapsed'">
                <div>
                  <h3>{{element.description}}</h3>
                </div>
                <div *ngIf="this.auth.role=='Manager'">
                  <button mat-raised-button (click)="editTask(element)">Edit</button>
                  <button mat-raised-button (click)="deleteTask(element)">Delete</button>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="example-element-row"
              [class.example-expanded-row]="expandedData === element"
              (click)="expandedData = expandedData === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
