<div class="container text-center">

  <div *ngIf="!projects" class="justify-content-center align-items-center pt-5">
    <mat-spinner ></mat-spinner>
  </div>
  <h2 *ngIf="(projects?.length ===0)">No projects is available for you.</h2>

  <mat-grid-list *ngIf="projects" cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let project of projects">
      <mat-card>
        <mat-card-header>
          <div>
            <h2>{{project.name}}</h2>
          </div>

        </mat-card-header>
        <mat-card-content>
          <div>Created on {{project.createdAt | date:'longDate'}}</div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="openProjectPage(project)">Open</button>
          <button *ngIf="this.auth.role==='Manager'" mat-raised-button color="warn" (click)="deleteProject(project)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
